body {
  margin: 0;
  overscroll-behavior: none; /* Disable Chrome two fingers back/forward swipe */
  user-select: none;  /* Prevent accidental selection while dragging mouse */
}

.speed {
  position: absolute;
  padding: 4px;
  color: white;
  font: 18px Arial, sans-serif;
}

#title {
  position: absolute;
  color: white;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  font: 28px Arial, sans-serif;
}
